{% extends 'base.html' %} 
{% block content %} 

    <h4>나를 소개합니다 <span class="badge bg-secondary">^^</span></h4>

<div class = "container">
    <div class="card" style="width: 18rem;">
     <img src="..." class="card-img-top" alt="...">
     <div class="card-body">
        <p class="card-text">안녕하세요 항공대학교 항공전자정보공학부 20학번 유가람입니다!</p>
     </div>
     </div>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
        <p class="card-text">제 MBTI는 ENFJ입니다!</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
        <p class="card-text">종강하고 싶어요ㅜㅜ</p>
        </div>
    </div>
{% endblock %} 
