{% extends 'base.html' %}
{% block content %}
    <h1>회원가입</h1>
    <form method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        <br>
        <br>
        {% if csrf_token %}
            <p>{{error}}</p>
            <br>
        {% endif %}
        <h3>사용자 이름</h3>
        <input name="username" type ="text">
        <br>
        <br>
        <h3>비밀번호</h3>
        <input type="password" name="password" id="">
        <br>
        <br>
        <h3>비밀번호 확인</h3>
        <input type="password" name="passwordCheck" id="">
        <br>
        <br>
        <h3>이메일</h3>
        <input type="email" name="email">
        <br>
        <input type="submit" value="제출하기">
    </form>
{% endblock %}
       